/* content styling */
.wrapper{
    width: 300px;
	height: 300px;
	display: inline-block;
	margin: 10px;
	background-color: pink;
}

.frame{
    width:300px;
    height:100px;
    overflow: hidden;
}

.frame img{
    width: 300px;
}

.icons{
    text-align: center;
}

.icons img{
    width: 50px;
}

#view_options{
    width: 300px;
    height: 30px;
}

/* filter display styling */
#filter_div{
	visibility: hidden;
	height: 50px;
}

.filter{
	height: 18px;
	background-color: pink;
	padding: 3px;
	margin: 3px;
	overflow: hidden;
	display: inline-block;
}

#filter_dept, #filter_format, #filter_program, #filter_location{
	display: none;
}

#filter_program, #filter_location{
	height: 18px;
	display: inline-block;
}

#filter_minor{
	background-color:teal;
}