/* note: should be in css folder */

/* filter display styling */
#filter_div{
	visibility: hidden;
	height: 50px;
}

.filter{
	height: 18px;
	background-color: pink;
	padding: 3px;
	margin: 3px;
	overflow: hidden;
	display: inline-block;
}

#filter_dept, #filter_format, #filter_program, #filter_location, #filter_keywords{
	display: none;
}

#filter_keywords{
	height: 25px;
}

#filter_program, #filter_location{
	height: 18px;
	display: inline-block;
}